<section class = "product-list">
   
    <app-product-item 
        *ngFor = "let productItem of filteredProducts" 
        [productItem] = "productItem"
        [isFavorite] = "isProductFavorite(productItem.id)"
        (favorite) = "toggleFavorite($event)"
        (remove)="removeProductItem($event)"> 
    </app-product-item>

    
    

</section>

<h1 class = "favorite-text" >Favorite products:</h1>

<section class = "favorite-list">
    
    <app-product-item 
        *ngFor = "let productItem of productFavorite"
        [productItem]="productItem"
        [isFavorite] = "true"
        (favorite)="toggleFavorite($event)"
        (remove) = "removeProductItem($event)">
    
    </app-product-item>
    
</section>