/* .primary {
} */
.product-list, .favorite-list {
    
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    
    align-items: stretch;
    width: 100%;
}
.favorite-text{
    font-size: 48px;
}