<section class="listing">
    <img class = "listing-photo"
    [src] = "productItem.image"
    alt = "Exterior photo of {{productItem.name}}"
    crossorigin
    />
    <h2 class = "listing-text">{{productItem.name}}</h2>
    <p class = "listing-description">{{productItem.description}}</p>
    <div class="listing-bottom">
        <div class="rating-stars">
            <p class = "listing-rating">{{productItem.rating}}</p>
            <img class = "rating-star-icon" *ngFor="let star of getRatingStars(productItem.rating)" [src]="'assets/star.png'" alt="">
        </div>
        <div class="share-buttons">
            <button class = "telega-button button" (click)="shareOnTelega(productItem.name, productItem.link)"><img class = "telega-button-icon button-icon" [src]="'assets/tg.png'">Share on Telegram</button>
            <button class = "wa-button button" (click)="shareOnWhatsapp(productItem.name, productItem.link)"><img class="wa-button-icon button-icon" [src]="'assets/wa.png'" alt="">Share on WhatsApp</button>
        </div>
        
    </div>
    
</section>