<section class="listing">
    <img class = "listing-photo"
    [src] = "productItem.image"
    alt = "Exterior photo of {{productItem.name}}"
    crossorigin
    />
    <h2 class = "listing-text">{{productItem.name}}</h2>
    <p class = "listing-description">{{productItem.description}}</p>
    <div class="listing-bottom">
        <p class = "listing-rating">{{productItem.rating}}</p>
        <div class="share-buttons">
            <button></button>
            <button></button>
        </div>

    </div>
    
</section>