body{
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: 0 auto;
    padding: 20px 0;
    width: 980px;


}
.content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 112px;
    padding-top: 72px;
}
.content__welcome {
}
.content__logo{
    padding: 0 0 24px;
}
.content__logo img{
    height: 106px;
    margin: -28px;
}
.content__text {
}
.content__form {
}
.form__top {
}
.form__inner {
}
.form__input {
}
.form__button {
}
.button__blue {
}
.form__forgot {
}
.form__link {
}
.form__line {
}
.button__green {
}
.form__bottom {
}
.form__text {
}
.form__text__bold {
}
.footer {
}
.footer__languages {
}
.footer__list {
}
.footer__otherlang {
}
.footer__line {
}
.footer__navigation {
}
.footer__copyright {
}