<main class="albums">
    <div class="container">
        <div class="albums__items">
            <h1 class="albums__title">Our Albums</h1>
            <div class="albums__loading" *ngIf="!loaded"></div>
            <ul class="albums__list" *ngIf="loaded">
                <li class="albums__item" *ngFor="let album of albums">
                    <button class = "albums__btn" (click)="deleteAlbum(album.id)"><img class="delete__img" src="https://img.icons8.com/?size=100&id=6483&format=png&color=000000" alt=""></button>

                    <a class="albums__link" routerLink="/albums/{{album.id}}">
                        <p class="album__id">{{album.id}}</p>
                        <p class="album__title">{{album.title}}</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</main>
