/* .albums {
} */
.container {
    padding: 10px 50px;
}
/* .albums__items {

} */
.albums__title {
    font-size: 48px;
}
/* .albums__loading {
} */
.albums__list {
    list-style: none;
    font-size: 24px;
}
.albums__item {
    display: flex;
    
    align-items: center;
    /* border: 1px solid;
    border-radius: 10px;
    margin: 20px 0; */
}
.albums__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    
}
.albums__link:hover{
    color: midnightblue;
}
.album__id {
    padding: 0 15px;
    font-size: 36px;
    
}
/* .album__title {
    
} */
.albums__btn {
    background: none;
    border: none;
    padding-top: 7px;
    
    font-family: 'Montserrat', sans-serif;
}
.delete__img{
    width: 24px;
    padding: 0;
}
.delete__img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.delete__img:active{
    transform: scale(1);
}

.loading{
    display: flex;
    justify-content: center;
    
}
.albums__loading {
    padding: 100px 0;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 36px;
    color:#0000;
    background: linear-gradient(90deg,#000 25%,#0f349a 0 50%,#765dcf 0 75%,#00A0B0 0) 0 0/400% 100%;
    -webkit-background-clip:text;
            background-clip:text;
    animation:l10 5s infinite cubic-bezier(0.3,1,0,1);
}
.albums__loading:before {
content:"Loading..."
}
@keyframes l10 {
25% {background-position: calc(1*100%/3) 0}
50% {background-position: calc(2*100%/3) 0}
75% {background-position: calc(3*100%/3) 0}
100%{background-position: calc(4*100%/3) 0}
}