
.container {
    padding: 10px 50px;
}
.album-photos__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.album-photos__title {
    font-size: 48px;
    text-align: center;
}
.album-photos__content {
    padding-top: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
    align-items: stretch;
    width: 100%;

}
/* .album-photos__item{
    
} */
.album-photos__btn {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* .album-photo{
    
} */

.album-photos__back {
    padding: 15px;
    border-radius: 10px;
    background-color: midnightblue;
    color: white;
    border: none;
    cursor: pointer;
  
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.album-photos__back:disabled {
  pointer-events: none;
}

.album-photos__back:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.album-photos__back:active {
    background-color: white;
    color: midnightblue;
    border: 1px solid midnightblue;
  box-shadow: none;
  transform: translateY(0);
}


.loading{
    display: flex;
    justify-content: center;
    
}
.album__loading {
    padding: 100px 0;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 36px;
    color:#0000;
    background: linear-gradient(90deg,#000 25%,#0f349a 0 50%,#765dcf 0 75%,#00A0B0 0) 0 0/400% 100%;
    -webkit-background-clip:text;
            background-clip:text;
    animation:l10 5s infinite cubic-bezier(0.3,1,0,1);
}
.album__loading:before {
content:"Loading..."
}
@keyframes l10 {
25% {background-position: calc(1*100%/3) 0}
50% {background-position: calc(2*100%/3) 0}
75% {background-position: calc(3*100%/3) 0}
100%{background-position: calc(4*100%/3) 0}
}