body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header {
    font-size: 13px;
    color: #262626;
}
.header__container {
    margin: 0 auto;
    max-width: 1092.25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    padding: 16px 16px 16px 10px;
}
.header__logo img{
    width: 108px;
}
.header__navigations {
}
.header__navigations a{
    padding: 16px 8px 10px;
    color: #262626;
    text-decoration: none;
}
.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__all a{
    text-decoration: none;
    color:#262626;
}
.header__search {
}
.header__shopping {
}
.header__login {
}

.content__welcome {
    
}
.welcome__learnmore {
    background-color: #0067b8;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
}
.welcome__learnmore a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.welcome__images {
    background-image: url("./images/copilot_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    padding: 50px 80px 300px 80px;
    display: flex;
    justify-content: left;
    align-items:flex-start;
}
.welcome__button{
    background-color: #fff;
    padding: 50px 50px;
    max-height: 50%;
    max-width: 50%;
    margin-right: 150px;
    padding: 40px 40px;
    box-shadow: 0 .1875rem .4375rem 0 rgba(0,0,0,.13),0 .0625rem .125rem 0 rgba(0,0,0,.11);

}
.welcome__htext{
    font-size: 29px;
    font-weight: 650;

}
.welcome__ltext{
    line-height: 25px;

}
.welcome__btn{
    margin-top: 30px;
}
.welcome__btnn{
    background-color: #0067b8;
    font-size: 16px;
    color: #fff;
    padding: 10px 12px;
    border: none ;
}
.container {
    margin: 0 auto;
    /* max-width: 1400px; */
    display: flex;
    flex-direction: column;
    padding: 0 75.95px;
    /* align-items: center; */
}
.content {
}
.content__navigation {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 16px 24px;
}
.content__item img{
    width: 40px;
    margin-bottom: 8px;
}
.content__item a{
    color: #0067b8;
    font-size: 16px;
    font-weight: 600;
}
.content__shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box__img {
}
.box__info {
}
.box__bigtext {
}
.box__smalltext {
}
.box__btn {
}
.box__button {
}