<div class="container">
    <h1>Welcome!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut fugiat et cupiditate neque, exercitationem aut! Quia ipsa consequuntur reprehenderit assumenda iusto, autem sapiente nam voluptatibus vel tempora sunt sit repudiandae!</p>

    <div class="buttons">
        <a href="">Albums</a>
        <a href="">About</a>
    </div>
    <div>
        <app-albums *ngFor = "let albumItem of albumItemList"
        [albumItem] = "albumItem"></app-albums>
    </div>

</div>