body{
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 935px;
    margin: 32px 0 0 0;
}
.content {
    display: flex;
    justify-content: space-between;
    
}
.content__image {
    margin-bottom: 12px;
    margin-right: 32px;
}
.content__form {
}
.form__login {
}
.form__inner {
}
.form__logo {
}
.form__logo img{
    width: 175px;

}
.form__input {
}
.form__email {
}
.form__password {
}
.form__button {
}
.form__line {
}
.line__left {
}
.line__text {
}
.line__right {
}
.form__facebook {
}
.form__loginwith {
}
.form__forgot {
}
.form__forgotlink {
}
.form__signup {
}
.form__signuptext {
}
.form__signuptext__blue {
}
.form__app {
}
.form__apptext {
}
.form__apps {
}
.form__app__google img{
    width: 134.28px;
}
.form__app__microsoft img{
    width: 110.76px;
}
.footer {
}
.footer__container {
}
.footer__navigation {
}
.footer__list {
}
.footer__interface {
}
.footer__lang {
}
.footer__copyright {
}