.album-detail {
    display: flex;
    justify-content: center;
    text-align: center;
}
.container {
    padding: 10px 50px;
}
.album-detail__items {
    display: flex;
    flex-direction: column;
}
.album-detail__title {
   
    font-size: 48px;
}
.album__field {
    display: flex;
    align-items: center;
}
.album__text {
    font-size: 24px;
    font-weight: 600;
    padding-right: 15px;
    
}
.album__input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    width: 360px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
}
.album__save {
    padding: 8px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: midnightblue;
    color: white;
    font-weight: 600;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
.album__save:hover{
    
    background-color: white;
    color: midnightblue;
    border: 1px solid midnightblue;
    cursor: pointer;
}
.album__save:active{
    transform: scale(1.1);
    
}
.album-detail__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
   
    
}

.album-detail__item {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.album__id {
    font-size: 20px;
    padding-right: 10px;
    
}
.album__title {
    font-size: 24px;
    font-weight: 600;
}
.album-detail__nav {
    display: flex;
    justify-content: center;
   
}
.album-detail__link {
   
    padding: 24px 0;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(53, 53, 180);
}

.album-detail__link:hover{
    color: midnightblue;
    transform: scale(1.1);
}
.album-detail__back {
    padding: 15px;
    border-radius: 10px;
    background-color: midnightblue;
    color: white;
    border: none;
    cursor: pointer;
  
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
/* .album-detail__back:hover{
    transform: scale(1.3);
   
} */


.album-detail__back:disabled {
  pointer-events: none;
}

.album-detail__back:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.album-detail__back:active {
    background-color: white;
    color: midnightblue;
    border: 1px solid midnightblue;
  box-shadow: none;
  transform: translateY(0);
}

.loading{
    display: flex;
    justify-content: center;
    
}
.album__loading {
    padding: 100px 0;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 36px;
    color:#0000;
    background: linear-gradient(90deg,#000 25%,#0f349a 0 50%,#765dcf 0 75%,#00A0B0 0) 0 0/400% 100%;
    -webkit-background-clip:text;
            background-clip:text;
    animation:l10 5s infinite cubic-bezier(0.3,1,0,1);
}
.album__loading:before {
content:"Loading..."
}
@keyframes l10 {
25% {background-position: calc(1*100%/3) 0}
50% {background-position: calc(2*100%/3) 0}
75% {background-position: calc(3*100%/3) 0}
100%{background-position: calc(4*100%/3) 0}
}